:root{
  --space-m:12px;
  --space-xm:16px;
  --space-l:24px;
  --space-b:36px;
  --space-xb:80px;

  --size-s:14px;
  --size-d:16px;
  --size-l:20px;
  --size-xl:24px;

  --color-border:#DEE2E6;
  --color-primary:rgb(46, 46, 255);
  --color-white:#FFFFFF;
  --color-title:#212529;
  --color-text:#343A40;

  --border-radius:12px;

  --weight-title:500;
  --weight-text:400;
}
/*===========*/

.page{
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
  font-family: 'Roboto';
}

.page_content{
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

/*=========================*/

.header{
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.logo{
  font-size: 17px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: calc(var(--border-radius) / 2);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link{
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover{
  text-decoration: underline;
  color: var(--color-primary);
}

.footer{
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.footer_copyright{
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title{
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

.main{
  display: flex;
  gap: var(--space-xb);
  align-items: center;
  /* padding: var(--space-b); */
  /* border-bottom: 1px solid var(--color-border); */
}

.main_image{
  width: 400px;
  height: 400px;
  border-radius: var(--border-radius);
}

.main_content{
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  justify-content: center;
  align-items: flex-start;
}

.main_title{
  font-size: 36px;
  color:var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
  letter-spacing: -0.8;
  align-items: center;
}

.main_text{
  color:var(--color-text);
  font-size: var(--size-xm);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.main_button{
  background-color: gray;
  width: fit-content;
  max-width: 160px;
  color: var(--color-white);

  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  border-radius: 4px;
}

.featured{
  display: flex;
  /* gap: var(--space-b); */
   padding-bottom: 40;
  border-bottom: 1px solid var(--color-border);
}

.card{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  text-align: left;
  gap: var(--space-l);
  padding: 0 var(--space-l);
  width: 33%;
}

.card_image{
  width: 64px;
  height: 64px;
  border-radius: var(--space-m);
}

.card_title{
  font-size: 32px;
  font-weight: var(--weight-title);
  color: var(--color-title);
}

.card_text{
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-text);
  line-height: 170%;
}

.card_link{
  font-weight: var(--weight-text);
  font-size: var(--size-d);
}

.button{
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  padding: var(--space-m ) var(--space-xm);
  /* border-radius: calc(var(--border-radius)/2); */
}

.button:hover{
  opacity: 0.8;
}

.act{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #563D7C;
  padding: var(--size-xl);
  border-radius: var(--border-radius);
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05); */
}

.act_content{
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  width: 240px;
}

.act_title{
  font-size: var(--size-xl);
  font-weight: var(--weight-text);
  color: var(--color-white);
  align-items: center;  
  width: fit-content;
}

.act_button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-m);
  border-radius: 6px;

  background-color: var(--color-white);

  font-size: var(--size-l);
  font-weight: var(--weight-text);
  color: #212529;  
}