:root{
  --space-s:8px;
  --space-xs:10px;
  --space-m:12px;
  --space-xm:16px;
  --space-sl:20px;
  --space-l:24px;
  --space-mb:32px;
  --space-b:36px;

  --size-s:14px;
  --size-d:16px;
  --size-b:24px;
  --size-mb:32px;
  --size-sb:36px;

  --color-border:#253041;
  --color-white:#FFFFFF;
  --color-text:#343A40;
  --color-text-lite:#9CA3AF;
  --color-button:#885FFB;

  --border-radius-s:4px;
  --border-radius-sd:24px;

  --weight-title:700;
  --weight-text:400;

  --page-width:1150px;
}
/*===========*/

.page{  
  background: #111827;
  padding: 0;

  display: flex;
  justify-content: center;

  font-family: 'Roboto';
  font-style: normal;
}

.page_content{
  max-width: var(--page-width);
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

/*=========================*/

.logo{
  display: flex;
  font-size: var(--size-d);
  background-color: var(--color-button);
  padding: 8px 12px;
  align-items: center;
  border-radius: var(--space-xs);
  font-weight: var(--weight-title);
  font-size: var(--size-s);
  line-height: 100%;
  color: var(--color-white);
  width: max-content;
  height: 30px;
}

.header{
  display: flex;
  flex-direction: column;
}

.header_top{
  display: flex;
  justify-content: space-between;  
  border-bottom: 1px solid var(--color-border);
  padding: 12px 0px;
}

.header_nav{
  display: flex; 
  align-items: center;
  padding: 0px;
}

.nav{
  display: flex; 
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link{
  color: var(--color-white);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
  font-weight: var(--weight-text);
}


.header_bottom{
  display: flex;
  justify-content: space-between;    
  padding: 12px 0px 0px;
  gap: var(--space-s);
}

.header_ad{
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.header_ad_logo_box{
  display: flex;
  align-items: flex-start;
  padding: 2px 6px;
  gap: var(--space-xs);

  background: rgba(136, 95, 251, 0.2);
  border-radius: 4px;
  width: 30px;
  height: 18px;
}

.header_ad_logo_text{
  display: flex;
  font-weight: var(--weight-title);
  font-size: var(--size-s);
  line-height: 100%;
  align-items: center;
  color: var(--color-button);
}

.header_ad_text{
  display: flex;
  font-weight: var(--weight-text);
  font-size: var(--size-s);
  line-height: 100%;  
  align-items: center;
  color: var(--color-white);
}


.hero{
  display: flex;
}

.hero_data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--size-mb);
  gap: var(--space-sl);
  height: 300px;

  background: radial-gradient(100% 625% at 100% 100%, rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%);
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
  border-radius: var(--space-l);
}

.hero_title{
  display: flex;
  font-weight: var(--weight-title);
  font-size: var(--size-sb);
  line-height: 100%;
  align-items: center;
  text-align: center;
  width: fit-content;
  max-width: 600px;
  
  color: var(--color-white);
}

.hero_text{
  display: flex;
  font-family: 'Inter';
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  line-height: 150%;
  align-items: center;
  text-align: center;
  color: var(--color-text-lite);
  width: fit-content;
  max-width: 600px;
}

.hero_button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: var(--space-m);
  
  width: 150px;
  height: 40px;
  
  border-radius: var(--space-xs);
  background-color: var(--color-button);
}

.hero_button_text{
  display: flex;
  font-weight: var(--weight-title);
  font-size: var(--size-d);
  line-height: 100%;  
  align-items: center;
  text-align: center;
  color: var(--color-white);
  text-decoration: none;
}


.about{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-mb);
  gap: var(--space-xm);
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
  border-radius: var(--border-radius-sd);
}

.about_title{
  display: flex;
  font-weight: var(--weight-title);
  font-size: var(--size-b);
  line-height: 100%;
  align-items: center;
  color: var(--color-white);
}

.about_text{
  display: flex;
  font-family: 'Inter';
  font-weight: var(--weight-text);
  font-size: var(--size-s);
  line-height: 170%;
  align-items: center;
  color: var(--color-text-lite);
}



.articles{
  display: flex;
  flex-direction: column;
  gap: var(--size-mb);
  padding: 0px;
}

.articles_header{
  display: flex;
  padding: 0px;
  gap: var(--space-l);

  justify-content: space-between;  
}

.articles_title{
  font-weight: var(--weight-title);
  font-size: var(--size-mb);
  line-height: 100%;
  color: var(--color-white);
  height: var(--size-mb);
  align-items: center;
  justify-content: center;
}

.articles_button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-m) var(--space-sl);
  gap: var(--space-s);
  
  width: 100px;
  height: 40px;
  
  border: 1px solid var(--color-text-lite);
  border-radius: var(--space-xs);
}

.articles_button_text{
  font-weight: var(--weight-title);
  font-size: var(--size-d);
  line-height: 100%;
  color: var(--color-white);
}



.articles_cards{
  display: flex;
  flex-direction: row;
  gap:var(--size-mb);
  padding: 0;
}

.art_card{
  display: flex;
  /* position: relative; */
  flex-direction: column;
  gap:var(--space-xm);
  padding: 0;

  max-width: calc(100% / 3);
  width: 100%;
}

.art_card_img_box{
  display: flex;  
  position: relative;
}

.art_card_img{
  display: flex;
  border-radius: var(--border-radius-sd);
  width: 100%;
}

.art_card_title{
  display: flex;
  font-weight: var(--weight-title);
  font-size: 18px;
  line-height: 100%;
  color: var(--color-white);
}

.art_card_text{
  display: flex;
  font-weight: var(--weight-text);
  font-size: var(--size-s);
  line-height: 150%;
  color: var(--color-text-lite);
}

.art_card_button{
  display: flex;
  position: relative;   
  justify-content: center;
  align-items: center;
  padding: var(--space-s) var(--space-xm);

  height: 30px;
  width: 85px;
  
  background-color: var(--color-button);
  border-radius: 10px;
}

.art_card_button_text{
  display: flex;
  font-weight: var(--weight-title);
  font-size: var(--size-s);
  line-height: 100%;
  color: var(--color-white);
}

.badge_new_box{
  display: flex;
  align-items: flex-start;
  padding: 2px 6px;
  gap: var(--space-xs);
  width: 50px;
  height: 20px;
  background: rgba(251, 95, 95, 0.5);
  border-radius: var(--border-radius-s);

  position: absolute;
  right: calc(0% + var(--space-xm));
  bottom: calc(0% + var(--space-xm));
}

.badge_new_text{
  display: flex;

  font-weight: var(--weight-title);
  font-size: var(--size-d);
  line-height: 100%;
  align-items: center;

  color: var(--color-white);
}



.footer{
  display: flex;  
  padding: 16px 0px 32px 0px;
  border-top: 1px solid var(--color-border);
  justify-content: space-between;
}

.footer_link_box{
  display: flex;
  flex-direction: row;
  gap : var(--space-xm);
}

.footer_link{
  display: flex;
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  line-height: 100%;
  color: var(--color-white);
  width: fit-content;
  text-decoration: none;
  cursor: default;
}

.footer_copyright{
  display: flex;
  color: var(--color-text-lite);
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  line-height: 100%;
}

.linked_obj:hover{
  opacity: 0.5;
  cursor: pointer;
  color: lightgreen;
}