<div class='input__block'>
  <label
    class='input__label text'
    for='{{id}}'
  >{{title}}</label>
  <input
    class='input__field'
    type='{{type}}'
    name='cardNumber'
    id='{{id}}'
  />
</div>