<a href='#' class='nav-button {{#if active}}nav-button--active{{/if}} click'>
  <span
    class='icon nav-button__icon'
    style="background-image: url('/svg/nav/{{img}}')"
  ></span>
  <span class='text text--light'>{{title}}</span>
</a>