<div class='promo_card'>
  <div class='promo_content'>
    <span
      class='promo_img click'
      style="background-image: url('{{url_img}}')"
    ></span>

    <div class='promo_card_header'>
      <strong
        class='promo_card_sub_title'
      >{{card_sub_title}}</strong>
      <strong
        class='promo_card_title'
      >{{card_title}}</strong>
    </div>
  </div>

  <div class='promo_card_footer'>
    <span class='promo_card_footer_title click'>Learn more</span>
    <span class='icon icon_footer click feat_link'></span>
  </div>

</div>