<div class='input__block'>
  <label
    class='input__label text'
    for='{{id}}'
  >{{title}}</label>

  <select class='input__field' id='{{id}}'>
    <option selected value='-1'>Choose...</option>
    {{! <option value='cat'>cat</option>
    <option value='hamster'>hamster</option>
    <option value='parrot'>parrot</option>
    <option value='spider'>spider</option> }}
  </select>
</div>